RewriteEngine on

RewriteRule ^Home index.php [L]

RewriteRule ^Product-Details product-details.php [L]

RewriteRule ^Product product.php [L]

RewriteRule ^Booking booking.php [L]

RewriteRule ^Reservation reservation.php [L]

RewriteRule ^Get-Restaurant getRestaurant.php [L]

RewriteRule ^Get-Product-Price-And-Time getProductPriceTime.php [L]

RewriteRule ^Email email.php [L]


