RewriteEngine on

RewriteRule ^Home index.php [L]

RewriteRule ^Product-Details product-details.php [L]

RewriteRule ^Product product.php [L]

RewriteRule ^Booking booking.php [L]

RewriteRule ^Reservation reservation.php [L]


