@font-face {
    font-family: 'sf-pro-regular';
    src: url('../fonts/sf-pro-text_regular.woff2');
}

@font-face {
    font-family: 'sf-pro-semibold';
    src: url('../fonts/sf-pro-text_semibold.woff2');
}

body{
    background-image: linear-gradient(210deg, #d6feff, #ffa38c);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-custom{
    background: linear-gradient(180deg, #fbfbfb00, #ffa38c);
}

.nav-link,.card-text{
    font-family: 'sf-pro-regular';
}

.card-title{
    font-family: 'sf-pro-semibold';
}

.text-main{
    font-family: 'sf-pro-regular';
    color: #ffa38c;
}

.product-image{
    height: 120px;
    width: 120px;
    border: 1px solid black;
}

.img-text{
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    font-family: 'sf-pro-semibold';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-weight: bold;
    width: 120px;
}

.product-link{
    text-decoration: none;
    color: #e7e7e7;
}

.product-link:hover{
    text-decoration: none;
    color: white;
}

.card{
    border-radius: 1.25em;
}

.card-product-image{
    border-radius: 1.25em;
}

.product-margin{
    margin-top: -40px;
}

.custom-button{
    font-family: 'sf-pro-semibold';
    background-color: #d6feff;
    border-color: #d6feff;
    border-radius: 35px;
    font-size: 25px;
    color: black;
    padding: 8px 100px;
}

.custom-button:hover{
    font-family: 'sf-pro-semibold';
    background-color: #9efcfd;
    border-color: #9efcfd;
    border-radius: 35px;
    font-size: 25px;
    color: black;
    padding: 8px 100px;
}
