.product-image{
    height: 120px;
    width: 120px;
    border: 1px solid black;
}

.card{
    border-radius: 1.25em;
}

.card-product-image{
    border-radius: 1.25em;
}

.product-margin{
    margin-top: -40px;
}

.custom-button{
    border-radius: 35px;
    font-size: 25px;
    color: white;
    padding: 15px 100px;
}

.custom-button:hover{
    background-color: #0099b6;
    border-color: #0099b6;
    border-radius: 35px;
    font-size: 25px;
    color: white;
    padding: 15px 100px;
}
