body{
    background: linear-gradient(210deg, #d6feff, #ffa38c);
}

.bg-custom{
    background: linear-gradient(180deg, #fbfbfb00, #ffa38c);
}

.text-main{
    color: #ffa38c;
}

.product-image{
    height: 120px;
    width: 120px;
    border: 1px solid black;
}

.img-text{
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
}

.product-link{
    text-decoration: none;
    color: #e7e7e7;
}

.product-link:hover{
    text-decoration: none;
    color: white;
}

.card{
    border-radius: 1.25em;
}

.card-product-image{
    border-radius: 1.25em;
}

.product-margin{
    margin-top: -40px;
}

.custom-button{
    background-color: #d6feff;
    border-color: #d6feff;
    border-radius: 35px;
    font-size: 25px;
    color: black;
    padding: 8px 100px;
}

.custom-button:hover{
    background-color: #9efcfd;
    border-color: #9efcfd;
    border-radius: 35px;
    font-size: 25px;
    color: black;
    padding: 8px 100px;
}
